/** @format */

@use "variable" as *;
@use "mixin" as *;
@use "media-query" as *;
body {
  overflow-x: hidden;
  header {
    position: sticky !important;
    top: 0;
    background-color: #fff;
    z-index: 100 !important;
    .header-top {
      // @include padding(10px, 0, 0, 0);
      @include flex(space-between, center);
      width: 100%;
      .btn-menu {
        all: unset;
        font-size: $font-14;
        @include margin(0, 15px, 0, 0);
        i {
          font-size: $font-20 + 5px;
          vertical-align: middle;
        }
      }
      .wrapper-img {
        width: 170px;
        @include margin(0, 20px, 0, 0);
      }
      .box-menu {
        @include flex(space-between, center);
        transition: right 0.4s ease;
        .wrapper-search {
          @include flex(space-between, center);
          @include padding(10px, 10px, 10px, 10px);
          background-color: #f5f5f5;
          border-radius: $radius-10;
          position: relative;
          div {
            @include flex(space-between, center);
            gap: 15px;
          }
          input,
          button {
            all: unset;
            font-size: $font-14;
          }

          .Categor-btn {
            border: none;
            background-color: transparent;
            outline: none;
            border-right: 2px solid #ccc;
            border-left: 2px solid #ccc;
            @include padding(0, 10px, 0, 10px);
          }
          .btn-search {
            @include padding(5px, 0, 0, 10px);
            font-size: $font-18;
          }
        }
        .wrapper-location {
          @include flex(start, center);
          .img-location {
            width: 35px;
            @include margin(0, 0, 0, 15px);
            img {
              vertical-align: 2px;
              width: 100%;
            }
          }
          .title-loction {
            & :nth-child(1) {
              color: #848484;
              margin-bottom: 5px;
            }
            P {
              margin: 0;
              font-size: $font-14 ;
            }
          }
        }
        .element-show {
          max-height: 250px;
          overflow-x: hidden;
          border-radius: $radius-5;
          position: absolute;
          z-index: 100;
          right: 18.4%;
          top: 40%;
          box-shadow: 0 0 5px 1px #ccc;
          background-color: #fff;
          padding: 0;
          a {
            @include flex(space-between, center);
            @include padding(15px, 25px, 15px, 25px);
            gap: 15px;
            border-bottom: 1px solid #ccc;
            transition: all 0.4s;
            &:hover {
              background-color: #f5f5f5;
            }
            div {
              p {
                color: #000;
                font-size: $font-14;
              }
              span {
                color: #0082fd;
                font-weight: $font-weight;
              }
            }
          }
        }
        .item {
          text-align: end;
          color: #000;
          font-size: $font-16;

          img {
            vertical-align: middle;
            @include margin(0, 10px, 0, 10px);
          }
          i {
            @include margin(0, 10px, 0, 10px);
            vertical-align: middle;
          }
        }
        .wrapper-Login {
          // @include flex(center, center);
          a {
            // font-size: $font-15;
            i {
              @include margin(0px, 5px, 0, 5px);
            }
          }
        }
      }
      .wrapper-Shopping {
        text-align: center;
        span {
          position: relative;

          .Number-shopping-lists {
            width: 17px;
            height: 17px;
            border-radius: $radius-100;
            background-color: #0082fd;
            color: #000;
            text-align: center;
            font-size: $font-14;
            color: #fff;
            position: absolute;
            top: -10px;
            right: 10px;
          }
        }
      }
    }
    .header-nav {
      background-color: #f9f9f9;
      position: relative;
      transition: display 0.5s ease;
      @include margin(25px, 0, 0, 0);
      @include padding(15px, 15px, 15px, 15px);
      &.fade-in {
        animation: fadeIn 0.1s forwards;

        @keyframes fadeIn {
          from {
            opacity: 0;
            height: 0;
            overflow: hidden;
            margin: 0;
          }
          to {
            opacity: 1;
            height: auto;
            margin: 25px 0 0 0;
            padding: 15px 15px 15px 15px;
          }
        }
      }

      &.fade-out {
        animation: fadeOut 0.1s forwards;

        @keyframes fadeOut {
          from {
            opacity: 1;
            height: auto;
            margin: 25px 0 0 0;
            padding: 15px 15px 15px 15px;
          }
          to {
            opacity: 0;
            height: 0;
            overflow: hidden;
            margin: 0;
          }
        }
      }
      div {
        display: inline-block;
        text-align: center;
        width: 170px;
        a {
          position: relative;
          color: #000;
          &::before {
            content: "";
            transition: width 0.3s ease;
            width: 0%;
            height: 3px;
            background-color: #0082fd;
            border-radius: $radius-10;
            position: absolute;
            bottom: -60%;
          }
          &:hover::before {
            width: 100% !important;
          }
        }
      }
      .Home-nav {
        a {
          &::before {
            content: "";
            width: 100%;
          }
        }
      }
      .Categories {
        cursor: pointer;
        height: 100%;
        &:hover + ul {
          display: block !important;
        }
      }
      ul {
        width: 240px;
        position: absolute;
        top: 80%;
        right: 5px;
        z-index: 10;
        border-radius: $radius-5;
        box-shadow: 0 0 5px 1px #ccc;
        background-color: white;
        @include padding(10px, 25px, 0, 25px);
        &:hover {
          display: block !important;
        }
        li {
          @include flex(space-between, center);
          @include padding(10px, 0, 10px, 0);
          border-bottom: 2px solid #ccc;
          cursor: pointer;
          transform: scale(1);
          transition: all 0.4s ease;
          &:hover {
            transform: scale(0.97);
          }
          img {
            width: 20px;
          }
        }
      }
    }
  }
}
.active {
  right: 0;
}
