
@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin margin($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}
@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}
@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin flex-basis($flex-basis) {
  display: flex;
  flex-basis: $flex-basis;
}
