/** @format */

@use "variable" as *;
@use "mixin" as *;
@use "media-query" as *;
body {
  .Show-category {
    @include padding(15px, 15px, 15px, 15px);
    // margin: auto;
    a {
      width: 160px !important;
      margin: 0 15px !important;
      div {
        @include flex(space-between, center);
        flex-direction: column;
        img {
          // filter: brightness(1.1) sepia(0.11) saturate(0.5) hue-rotate(0deg);
          border-radius: $radius-10;
        }
      }
      p.title-item {
        font-size: 16px !important;
        height: auto !important;
      }
      span {
        font-size: 14px !important;
        color: #777777 !important;
      }
    }
  }
  .Discounts {
    @include flex(space-between, center);
    background-color: #ff6a6a;
    border-radius: $radius-10;
    @include padding(10px, 20px, 10px, 20px);
    .title-Discounts {
      @include flex(space-between, center);
      color: #fff;
      gap: 15px;
      div {
        width: 40px;
        img {
          filter: brightness(5) sepia(0.11) saturate(0.5) hue-rotate(0deg);
        }
      }
    }
    .timer-Discounts {
      h1 {
        font-weight: normal;
        letter-spacing: 0.125rem;
        text-transform: uppercase;
      }
      UL {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          font-size: 1em;
          list-style-type: none;
          padding: 0.5em;
          text-transform: uppercase;
          background-color: #fff;
          border-radius: $radius-10;
          font-size: $font-12;
          color: #a09f9f;
          text-align: center;
        }
      }

      li span {
        display: block;
        font-size: $font-14;
        color: #000;
        text-align: center;
      }

      @media all and (max-width: 768px) {
        h1 {
          font-size: calc(1.5rem * var(--smaller));
        }

        li {
          font-size: calc(1.125rem * var(--smaller));
        }

        li span {
          font-size: calc(3.375rem * var(--smaller));
        }
      }
    }
    .btn-Discounts {
      all: unset;
      color: #fff;
      img {
        transition: transform 0.4s;
        transform: translateX(0);
      }
      &:hover img {
        transform: translateX(-5px);
      }
    }
  }
  .wrapper-slider {
    position: relative;
    overflow: hidden;
    .wrapper-Slider-item {
      min-width: 4000px;
      // display: flex;
      overflow-y: hidden;
      transform: translateX(0);
      transition: transform 0.4s;
      .slider-item {
        width: 275px;
        display: inline-block;
        @include margin(0, 20px, 0, 20px);
        img {
          border-radius: 10px;
        }
        &:hover .slider-img .slider-iconds button {
          opacity: 1;
        }
        div.slider-img {
          width: 100%;
          display: block;
          position: relative;
          z-index: 1;

          .slider-iconds {
            width: 80% !important;
            height: 35px;
            position: absolute;
            right: 10%;
            bottom: 30px;
            z-index: 5;
            direction: ltr;
            @include flex(space-around, center);
            justify-content: spa;
            button {
              position: relative !important;
              width: 25px !important;
              height: 25px;
              border-radius: 100%;
              background-color: #fff;
              margin: 5px;
              padding: 8px;
              opacity: 0;
              box-shadow: 0 0 20px 1px #ccc;
              transform: scale(1);
              transition: all 0.5s ease;
              &:hover {
                transform: scale(1.15);
                box-shadow: 0 0 20px 2px #868686;
              }
              i {
                color: #5d5d5d;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          span {
            position: absolute;
            right: 20px;
            background-color: #0082fd;
            color: #fff;
            @include padding(3px, 10px, 3px, 10px);
            border-radius: $radius-5;
            font-size: $font-12;
          }
        }
        p {
          display: block;
          text-align: center;
          font-size: $font-16;
          font-weight: $font-weight;
          @include margin(20px, 0, 10px, 0);
          height: 50px;
        }
        span {
          text-align: center;
          font-size: $font-16;
          font-weight: $font-weight;
          display: block;
          @include margin(20px, 0, 10px, 0);
          color: #0082fd;
          del {
            color: #a09f9f;
            font-size: $font-12;
          }
        }
      }
    }
    button {
      all: unset;
      position: absolute;
      top: 40%;
      transform: translate(-50% -50%);
      i {
        font-size: 25px;
        color: #a09f9f;
      }
    }
    .btn-slider-right {
      right: 15px;
    }
    .btn-slider-left {
      left: 15px;
    }
  }
  .Latest-news {
    .wrapper-Slider-item {
      // min-width: 100% !important;
      margin-top: 25px !important;

      .slider-item {
        position: relative;
        width: 355px;
        span {
          height: 50px !important;
          width: 100% !important;
          margin: 0 !important;
        }
        .continue-reading {
          width: 100%;
          height: 50%;
          position: absolute;
          bottom: 0;
          border-radius: $radius-10;
          opacity: 0;
          transition: all 0.4s;
          background: linear-gradient(to top, #007bff 0%, #007bff00 100%);
          > p {
            margin-top: 25% !important;
            color: #fff;
            height: auto !important;
            font-weight: normal !important;
            transition: all 0.4s;
          }
        }

        &:hover .continue-reading {
          opacity: 1;
        }

        &:hover .continue-reading > p {
          margin-top: 20% !important;
        }
      }
    }
  }

  .wrapper-baner {
    @include margin(25px, auto, 0, auto);
    @include padding(0, 25px, 0, 25px);
    @include flex(space-between, center);
    gap: 20px;
    div {
      display: inline-block;
      @include margin(0, 0, 20px, 0);
    }
  }
  .Product-title {
    background-color: #f5f5f5 !important;
    .title-Discounts {
      @include padding(15px, 15px, 15px, 15px);
      color: #000 !important;
      font-size: 22px;
    }
    .btn-Discounts {
      color: #000 !important;
    }
  }
  .mobile-brands {
    a {
      position: relative;
      z-index: 1;
      .location-brand {
        position: absolute;
        z-index: 5;
        left: 15px;
        bottom: 25px;
        background-color: #f1f7fc;
        padding: 6px 10px;
        border-radius: $radius-10;
        p {
          font-weight: normal !important;
          font-size: 15px !important;
          margin: 0 !important;
          height: auto !important;
        }
        span {
          color: #b1afaf !important;
          margin: 5px !important;
          font-size: 13px !important;
          font-weight: 100 !important;
          // @include flex(space-between ,center);
          &::before {
            content: "";
            background-image: url(../img/svg/location.svg);
            display: inline-block;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
  .sub-baner {
    @include padding(10px, 10px, 10px, 10px);
    a {
      img {
        border-radius: $radius-10;
      }
    }
  }
  .baner-category {
    @include padding(10px, 10px, 10px, 10px);
    @include flex(space-around, center);
    // gap: 15px;
    div {
      @include flex(space-around, center);
      gap: 15px;
      a {
        @include margin(10px, 10px, 10px, 10px);
        img {
          border-radius: 10px;
        }
      }
    }
  }
}
.show__product {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0b0b0bcf;
  z-index: 100;
}
.show__product .container__product {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%;
  height: 80%;
  z-index: 101;
  border-radius: 5px;
  overflow: hidden;
}
.container__product > i {
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 30px;
  cursor: pointer;
}
.container__product .img__product {
  width: 40%;
}
.container__product .img__product div,
.container__product .img__product img {
  width: 100%;
  border-radius: 10px;
}
.data__product {
  width: 55%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
}
.data__product h3 {
  margin: 10px 0;
}
.data__product > p {
  font-size: 22px;
  font-weight: 600;
  color: #0082fd;
}
.data__product > ul {
  padding: 0 !important;
}
.data__product > ul li {
  font-size: 17px;
  color: #989797;
  margin-bottom: 10px;
}
.data__product .add__to__basket {
  display: flex;
  gap: 15px;
}
.add__to__basket > button {
  all: unset;
  padding: 10px 17px;
  background-color: #0082fd;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  transition: all 0.4s;
  font-size: 15px;
}
.add__to__basket > button:hover {
  background-color: #006ee2;
}
.add__to__basket .Product__counter {
  width: 90px;
  display: flex;
  border: 1px solid #ccc;
  height: 80%;
  margin: auto 0;
  border-radius: 50px;
  overflow: hidden;
}
.Product__counter input {
  all: unset;
  width: 50%;
  text-align: center;
}
/* مخفی کردن اسپینر در Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* مخفی کردن اسپینر در Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.Product__counter button {
  width: 25%;
  border: none;
  outline: none;
  font-size: 12px;
}
.data__product .add__to__favorite button {
  background-color: #fff;
  border: none;
  outline: none;
  margin: 15px 10px 15px 10px;
}
.data__product .add__to__favorite button > i {
  padding-left: 5px;
  vertical-align: -2px;
}
.data__product .Product__features {
  border-top: 1px solid #6d6d6d;
  padding: 15px 0;
}
.Product__features p {
  font-size: 17px;
  color: #000;
  font-weight: 600;
}
.Product__features p > span {
  color: #ccc;
  font-size: 16px;
  padding-right: 10px;
  font-weight: normal;
}
.Product__features p > span i {
  margin: 0 5px;
  cursor: pointer;
  color: #5c5c5c;
  font-size: 14px;
}
.products .products-filter .Purchase__payment {
  padding: 30px 25px;
  margin-top: 35px;
  /* border: 1px solid #a4a4a4c8; */
  border-radius: 8px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 10px #0000001e;
  position: sticky;
  top: 160px;
  z-index: 99;
}
.Purchase__payment ul {
  padding: 0 !important;
}
.Purchase__payment ul li {
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Purchase__payment ul li span {
  color: #5d5d5d;
  font-size: 13px;
}
.Purchase__payment button {
  border: none;
  background-color: #007bff;
  transition: all 0.4s;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 25px auto 0 auto;
  display: block;
}
.Purchase__payment button:hover {
  background-color: #0066d6;
}
.products-main .product__basket {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 30px;
  position: relative;
}
.product__basket > i {
  position: absolute;
  top: 10px;
  left: 0px;
  cursor: pointer;
  font-size: 20px;
}
.product__basket .img__products__basket {
  width: 25%;
  border-radius: 8px;
  overflow: hidden;
}
.product__basket .Product__feature__basket {
  width: 70%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}
.Product__feature__basket h3 {
  font-size: 20px;
}
.Product__feature__basket ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin-top: 15px;
}
.Product__feature__basket ul li {
  color: #5c5c5c;
  font-size: 14px;
}
.Product__feature__basket ul li i {
  padding-left: 5px;
}
.Product__feature__basket .product__price__basket {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.product__price__basket .price {
  font-weight: 700;
  color: #007bff;
  margin: 0;
}